@model LAB5GED.DOMAIN.Entidades.Documento
@using GridMvc.Html
@{
    List<LAB5GED.DOMAIN.Entidades.Caixa> _caixasAbertas = new LAB5GED.DOMAIN.DAO.Business.CaixaBO().GetCaixasAbertas();
    
}

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script type="text/javascript">


    function complete() {
        
        location.href = "../Documento/DocumentosNaoArmazenados";
    }

</script>

<h2>Armazenar Documento</h2>



<div>
    @Html.Partial("partialInfoDocumento",Model)
</div>
<p>Escolha uma das caixas disponíveis para inserir o documento selecionado.</p>
@Html.Grid(_caixasAbertas).Columns(c=>
    {
     c.Add(a=>a.IdCaixa).Titled("Caixa");
     c.Add(a=>a.Localizacao).Titled("Localização");
     c.Add(a=>a.Documentos).Titled("Volume Atual").Encoded(false).Sanitized(true).RenderValueAs(a => a.Documentos.Count.ToString());
     //c.Add().Encoded(false).Sanitized(false).RenderValueAs(b => @Html.ActionLink("Inserir", "ArmazenarDocumento","Documento" ,new {_registroDocumento = Model.Registro,_registroCaixa=b.Registro },""));
     c.Add().Encoded(false).Sanitized(false).RenderValueAs(b => @Ajax.ActionLink("Inserir", "ArmazenarDocumento", "Documento",new { _registroDocumento = Model.Registro, _registroCaixa = b.Registro }, new AjaxOptions()
     {
         Confirm = "Clique em OK para confirmar a inserção.",
         OnComplete = "complete"
     },""));     
     
    }).Sortable(true)

