@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" >
 
  <h2>Bem Vindo</h2>
  <p>Sistema de Gerenciamento Eletrônico de Documentos</p><br />
  <p>@Html.ActionLink("Novo Documento", "Cadastrar", "Documento", "", new {@class="btn btn-primary" })</p>
</div>

